@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

:root {
	--supplementaryBG: #211D1B;
	--supplementaryFG: #757371;
	--foreground: #ccc;
}

:focus {
	/* Making keyboard AND design happy at the same time, I'm a true hero. */
	-webkit-filter: drop-shadow(3px 3px 0 blue) drop-shadow(-3px -3px 0 red);
	filter:drop-shadow(3px 3px 0 blue) drop-shadow(-3px -3px 0 red);
	outline: 0;
}

html, body {
	background: -moz-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: -webkit-linear-gradient(left top, #1B3D29, #133337, #1B3D29);
	background: -o-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: linear-gradient(to bottom right, #1B3D29, #133337, #1B3D29);
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

div#lang {
	background-color: var(--supplementaryBG);
	position: fixed;
	padding: 10px;
	height: 30px;
	width: 45px;
	right: 0px;
	top: 25px;
}

html body div#cWrapper {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: -225px 0 0 -400px;
	color: var(--foreground);
	top: 50vh; left: 50vw;
	position: fixed;
	height: 450px;
	width: 800px;

	/* ANTI PADDING SQUAD TO THE RESCUE */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#cWrapper div#shiftedCenterPicture {
	border: 10px solid var(--supplementaryBG);
	margin: -105px 0 0 -105px;
	position: absolute;
	overflow: hidden;
	height: 190px;
	width: 190px;
	z-index: 100;
	left: 50%;
	top: 50%;

	background-color: var(--supplementaryBG);

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

div#cWrapper div#shiftedCenterPicture img {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -40px; left: -40px;
	transition: 1s opacity;
	position: absolute;
	opacity: 1;
}

div#cWrapper div#shiftedCenterPicture:hover {
	cursor: none;
}

div#cWrapper div#shiftedCenterPicture:hover img:first-child {
	opacity: 0;
}

img.noSelImg {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
}

table#bDad {
	height: 100%;
	width: 100%;
}

table#bDad tr, table#bDad tr td {
	height: 50%;
	width: 50%;
}

table#bDad tr td div.block {
	background-color: var(--supplementaryBG);
	max-height: 220px;
	max-width: 395px;
	overflow: hidden;
	padding: 25px;
	height: 100%;
	width: 100%;

	/* ANTI PADDING SQUAD TO THE RESCUE */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table#bDad tr td div.block#tl {
	background: linear-gradient(-45deg,  transparent 107px, var(--supplementaryBG) 0);
	background-repeat: no-repeat;
}

table#bDad tr td div.block#tl p {
	color: var(--supplementaryFG);
}

table#bDad tr td div.block#tr {
	background: linear-gradient(45deg,  transparent 107px, var(--supplementaryBG) 0);
	color: var(--supplementaryFG);
	background-repeat: no-repeat;
	text-align: right;
}

table#bDad tr td div.block#tr a {
	color: var(--foreground);
	display: table-caption;
	vertical-align: middle;
	text-decoration: none;
	font-size: 25px;
	width: 345px;
	height: 7px;
}

table#bDad tr td div.block#bl {
	background: linear-gradient(-135deg,  transparent 107px, var(--supplementaryBG) 0);
	background-repeat: no-repeat;
}

table#bDad tr td div.block#bl div#links {
	margin: 5px 0 0 20px;
}

table#bDad tr td div.block#bl div#links div.sn {
	transition: .5s opacity;
	margin-bottom: 10px;
	width: 200px;
	opacity: .5;
}

table#bDad tr td div.block#bl div#links div.sn:hover {
	-webkit-filter: drop-shadow(3px 3px 0 rgba(0,100,150,.9)) drop-shadow(-3px -3px 0 rgba(200,0,0,.9));
	filter:drop-shadow(3px 3px 0 rgba(0,100,150,.9)) drop-shadow(-3px -3px 0 rgba(200,0,0,.9));
	opacity: 1;
}

table#bDad tr td div.block#bl div#links div.sn a {
	color: var(--foreground);
	text-decoration: none;
	display: block;
	width: 100%;
}

table#bDad tr td div.block#bl div#links div.sn a img {
	height: 25px; width: 25px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
}

table#bDad tr td div.block#br {
	background: linear-gradient(135deg,  transparent 107px, var(--supplementaryBG) 0);
	background-repeat: no-repeat;
	text-align: right;
}

a.e3D {
	opacity: .5;
	text-decoration: none;
	color: var(--foreground);
	transition: .5s opacity;
	margin-bottom: 5px;
	display: block;
}

a.e3D:hover {
	-webkit-filter: drop-shadow(3px 3px 0 rgba(0,100,150,.6)) drop-shadow(-3px -3px 0 rgba(200,0,0,.6));
	filter:drop-shadow(3px 3px 0 rgba(0,100,150,.6)) drop-shadow(-3px -3px 0 rgba(200,0,0,.6));
	opacity: 1;
}